/cosleep_RAM
/software/installation/source_python/data/rec/
/software/installation/source_python/data/log/
/software/installation/source_python/data/subject/
/software/installation/source_python/log_terminal/
*.zip
*.spec

